{% extends '@PatchlevelEventSourcingAdmin/base.html.twig' %}

{% block body %}
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-indigo-600 px-6">
            <div class="flex h-20 shrink-0 items-center text-indigo-200 leading-6 font-semibold">
                EventSourcing Admin
            </div>
            <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                    <li>
                        <ul role="list" class="-mx-2 space-y-1">
                            {{ _self.nav_point("Store", "circle-stack", "patchlevel_event_sourcing_admin_store_show") }}
                            {{ _self.nav_point("Projections", "video-camera", "patchlevel_event_sourcing_admin_projection_show") }}
                            {{ _self.nav_point("Inspection", "identification", "patchlevel_event_sourcing_admin_inspection_index") }}
                        </ul>
                    </li>
                    <li class="-mx-6 mt-auto">
                        <a href="https://patchlevel.de" target="_blank"
                           class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-indigo-700">
                            <img class="h-8 w-8 rounded-full bg-indigo-700"
                                 src="{{ asset('bundles/patchleveleventsourcingadmin/logo.png') }}" alt="">
                            <span class="sr-only">Your profile</span>
                            <span aria-hidden="true">made by patchlevel</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-indigo-600 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
        <button type="button" class="-m-2.5 p-2.5 text-indigo-200 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <div class="flex-1 text-sm font-semibold leading-6 text-white">Dashboard</div>
        <a href="#">
            <span class="sr-only">Your profile</span>
            <img class="h-8 w-8 rounded-full bg-indigo-700"
                 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                 alt="">
        </a>
    </div>

    <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}


{% macro nav_point(label, icon, path) %}
    {% set url = path(path) %}
    {% set active = app.request.pathInfo starts with url %}
    <li>
        <a href="{{ path(path) }}"
           class="{{ active ? "bg-indigo-700 text-white" : "text-indigo-200 hover:text-white hover:bg-indigo-700"}} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
            {{ heroicon(icon, 'h-6 w-6 shrink-0 text-indigo-200 group-hover:text-white') }}
            {{ label }}
        </a>
    </li>
{% endmacro %}
