<dl class="divide-y divide-gray-100">
    {{ _self.text('ID', subscription.id) }}
    {{ _self.text('Group', subscription.group) }}
    {{ _self.text('Run mode', subscription.runMode.value|replace({'_': ' '})) }}
    {# { _self.text('Class', 'unknown') } #}
    {{ _self.text('Position', subscription.position) }}
    {{ _self.text('Status', subscription.status.value) }}

    {{ _self.text('Retry attempt', subscription.retryAttempt) }}

    {{ _self.text('Updated at', subscription.lastSavedAt|date('Y-m-d H:i:s')) }}

    {% if subscription.subscriptionError %}
        {% if subscription.subscriptionError.errorContext %}
            {% for context in subscription.subscriptionError.errorContext %}
                <div class="rounded-md bg-gray-50 overflow-hidden">
                    <div class="flex bg-red-600 p-4">
                        <div class="flex-shrink-0">
                            {{ heroicon('exclamation-circle', class='h-5 w-5 text-white') }}
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-white">{{ context.message }}</h3>
                        </div>
                    </div>

                    <div class="rounded-md bg-gray-50 p-4">
                        {% for step in context.trace %}
                            <div class="py-2">
                                {% if step.class is defined %}
                                    <div class="text-gray-900" title="{{ step.class }}">
                                        {{~ step.class|split('\\')|last ~}}{{~ step.type ~}}{{~ step.function ~}}(...)
                                    </div>
                                {% else %}
                                    <div class="text-gray-900">
                                        <span title="{{ step.function }}">{{ step.function }}(...)</span>
                                    </div>
                                {% endif %}
                                <div class="text-xs text-gray-500">in {{ step.file }} (line {{ step.line }})</div>
                            </div>
                        {% endfor %}

                    </div>
                </div>


            {% endfor %}
        {% else %}
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        {{ heroicon('exclamation-circle', class='h-5 w-5 text-red-800') }}
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800">{{ subscription.subscriptionError.errorMessage }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

</dl>

{% macro text(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">{{ content }}</dd>
    </div>
{% endmacro %}

{% macro json(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            <div class="json">
                {{~ content ~}}
            </div>
        </dd>
    </div>
{% endmacro %}

{% macro args(args) %}
    {{ args|join(', ') }}
{% endmacro %}

