<dl class="divide-y divide-gray-100">
    {{ _self.text('Aggregate', eventsourcing_aggregate_name(message)) }}
    {{ _self.text('Aggregate Class', message.aggregateClass) }}
    {{ _self.text('Aggregate Id', message.aggregateId) }}
    {{ _self.text('Aggregate Playhead', message.playhead) }}
    {{ _self.text('Event Name', eventsourcing_event_name(message)) }}
    {{ _self.text('Event Class', eventsourcing_event_class(message)) }}
    {{ _self.text('Recorded on', message.recordedOn|date('Y-m-d H:i:s')) }}
    {{ _self.json('Event Payload', eventsourcing_event_payload(message)) }}
    {% if message.customHeaders %}
        {{ _self.json('Custom Headers', message.customHeaders|json_encode(constant('JSON_PRETTY_PRINT'))) }}
    {% else %}
        {{ _self.text('Custom Headers', '-') }}
    {% endif %}
</dl>

{% macro text(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">{{ content }}</dd>
    </div>
{% endmacro %}

{% macro json(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            <div class="json">
                {{~ content ~}}
            </div>
        </dd>
    </div>
{% endmacro %}
