<dl class="divide-y divide-gray-100">
    {{ _self.text('Aggregate', message.aggregateName) }}
    {{ _self.text('Aggregate Class', eventsourcing_aggregate_class(message)) }}

    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 group/parent">
        <dt class="text-sm font-medium leading-6 text-gray-900">Aggregate Id</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            {{ message.aggregateId }}
            <a class="group-hover/parent:visible invisible" href="{{ path('patchlevel_event_sourcing_admin_inspection_show', {aggregateName: message.aggregateName, aggregateId: message.aggregateId}) }}">
                {{ heroicon('identification', 'h-5 w-5 -mt-1 text-gray-400 inline') }}
            </a>
        </dd>
    </div>

    {{ _self.text('Aggregate Playhead', message.playhead) }}

    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 group/parent">
        <dt class="text-sm font-medium leading-6 text-gray-900">Event Name</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            {{ eventsourcing_event_name(message) }}
            <a class="group-hover/parent:visible invisible" href="{{ path('patchlevel_event_sourcing_admin_event_index', {name: eventsourcing_event_name(message)}) }}#{{ eventsourcing_event_name(message) }}">
                {{ heroicon('calendar', 'h-5 w-5 -mt-1 text-gray-400 inline') }}
            </a>
        </dd>
    </div>

    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 group/parent">
        <dt class="text-sm font-medium leading-6 text-gray-900">Event Class</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            {{ eventsourcing_event_class(message) }}
            <a class="group-hover/parent:visible invisible" href="{{ path('patchlevel_event_sourcing_admin_event_index', {name: eventsourcing_event_name(message)}) }}#{{ eventsourcing_event_name(message) }}">
                {{ heroicon('calendar', 'h-5 w-5 -mt-1 text-gray-400 inline') }}
            </a>
        </dd>
    </div>

    {{ _self.text('Recorded on', message.recordedOn|date('Y-m-d H:i:s')) }}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Profiler Token</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            {% set token = eventsourcing_profiler_token(message) %}
            {% if token %}
                <a href="{{ path('_profiler', {token: token, panel: 'Patchlevel\\EventSourcingBundle\\DataCollector\\EventSourcingCollector'}) }}" target="_blank">
                    {{ token }}
                </a>
            {% else %}
                ~
            {% endif %}
        </dd>
    </div>
    {{ _self.json('Event Payload', eventsourcing_event_payload(message)) }}
    {% if message.customHeaders %}
        {{ _self.json('Custom Headers', message.customHeaders|json_encode(constant('JSON_PRETTY_PRINT'))) }}
    {% else %}
        {{ _self.text('Custom Headers', '-') }}
    {% endif %}
</dl>

{% macro text(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">{{ content }}</dd>
    </div>
{% endmacro %}

{% macro json(name, content) %}
    <div class="p-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">{{ name }}</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0">
            <div class="json">
                {{~ content ~}}
            </div>
        </dd>
    </div>
{% endmacro %}
