{% extends '@PatchlevelEventSourcingAdmin/layout.html.twig' %}

{% block content %}
    <div class="px-4 sm:px-6 lg:px-8">

        <!-- Headline -->
        <div class="text-2xl font-bold mb-8">
            Store
        </div>

        <div class="">
            <form class="flex gap-2 items-end" action="{{ path('patchlevel_event_sourcing_admin_store_show') }}">
                <div class="w-48">
                    <label for="aggregate" class="block text-xs font-medium leading-6 text-gray-900">Aggregate</label>
                    <select id="aggregate" name="aggregate"
                            class="mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option {% if app.request.get('aggregate') == "" %}selected{% endif %}
                                value="">-- choose --
                        </option>
                        {% for aggregate in aggregates %}
                            <option {% if app.request.get('aggregate') == aggregate %}selected{% endif %}
                                    value="{{ aggregate }}">{{ aggregate }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="w-96">
                    <label for="aggregateId" class="block text-xs font-medium leading-6 text-gray-900">Aggregate
                        ID</label>
                    <div class="mt-1">
                        <input type="text" name="aggregateId" id="aggregateId"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                               placeholder="018d233e-7906-73f1-8a0c-f76a4fdac34e"
                               value="{{ app.request.get('aggregateId') }}">
                    </div>
                </div>

                <button type="submit"
                        class="rounded-md bg-indigo-600 px-2.5 py-1.5 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    {{ heroicon('funnel', 'h-6 w-6') }}
                </button>

                {% if app.request.get('aggregate') or app.request.get('aggregateId') %}
                <a class="rounded-md bg-red-600 px-2.5 py-1.5 font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                   href="{{ path('patchlevel_event_sourcing_admin_store_show') }}">
                    {{ heroicon('backspace', 'h-6 w-6') }}
                </a>
                {% endif %}
            </form>
        </div>

        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900 sm:pl-6 ">#
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Aggregate
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">ID
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">
                                    Playhead
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Event
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Recorded On
                                </th>
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6"></th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            {% for message in messages %}
                                <tr class="group/row">
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 text-right">{{ messages.index }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group/parent">
                                        {{ eventsourcing_aggregate_name(message) }}
                                        <a href="{{ path('patchlevel_event_sourcing_admin_store_show', { aggregate: eventsourcing_aggregate_name(message) }) }}"
                                           class="text-gray-500 hover:text-gray-900 invisible group-hover/parent:visible">
                                            {{ heroicon('funnel', 'h-5 w-5 inline') }}
                                        </a>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 group/parent" title="{{ message.aggregateId }}">
                                        {{ eventsourcing_short_id(message.aggregateId) }}
                                        <a href="{{ path('patchlevel_event_sourcing_admin_store_show', { aggregate: eventsourcing_aggregate_name(message), aggregateId: message.aggregateId }) }}"
                                           class="text-gray-500 hover:text-gray-900 invisible group-hover/parent:visible">
                                            {{ heroicon('funnel', 'h-5 w-5 inline') }}
                                        </a>
                                        <a href="{{ path('patchlevel_event_sourcing_admin_inspection_show', { aggregateName: eventsourcing_aggregate_name(message), aggregateId: message.aggregateId }) }}"
                                           class="text-gray-500 hover:text-gray-900 invisible group-hover/parent:visible">
                                            {{ heroicon('identification', 'h-5 w-5 inline') }}
                                        </a>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right">{{ message.playhead }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ eventsourcing_event_name(message) }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ message.recordedOn|date('Y-m-d H:i:s') }}</td>
                                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-6">
                                        <a href="#" class="text-gray-500 hover:text-gray-900"
                                           data-modal="modal-{{ loop.index }}">
                                            {{ heroicon('magnifying-glass', 'h-5 w-5') }}
                                        </a>
                                        <dialog id="modal-{{ loop.index }}"
                                                class="relative text-left rounded p-8 w-3/4">
                                            <form method="dialog" class="text-right static right-0">
                                                <button>
                                                    {{ heroicon('x-mark', 'h-5 w-5') }}
                                                </button>
                                            </form>

                                            {{ include('@PatchlevelEventSourcingAdmin/store/detail.html.twig', {
                                                message: message,
                                            }) }}
                                        </dialog>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% include '@PatchlevelEventSourcingAdmin/pagination.html.twig' with {
                            page: page,
                            count: count,
                            limit: limit,
                        } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      document.querySelectorAll("[data-modal]").forEach(function(button) {
        button.addEventListener("click", function() {
          var dialog = document.getElementById(button.dataset.modal);
          dialog.showModal();
          dialog.querySelector("button").addEventListener("click", function() {
            dialog.close();
          });
        });
      });
    </script>

{% endblock %}
